$initial_planet_size: 8em;

$main_background:   #231f20;
$planet_color:      #5faac7;
$text_color_main:	#FFFD8A;
$text_color_sub:	#DEFFEB;
$selection_color:	#d27854;
$continent_color:   #761a1a;
$continent_alt:		#9d4545;

$transform_speed:   500ms;
$font_main:			'Amatic SC', cursive;;

$stars: multiple-box-shadow(800);